<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style2.css">
    <title>GAMEROK</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>
    <form class="logo">
        <a href="/"><img src="../static/bluelogo%20(2).png" ></a>
        <a href="/" style="color: purple;text-decoration: none"><p>GAMEROK</p></a>
        <button type="submit" onclick="window.location.href='/login';">SIGN IN</button>
    </form>
    </nav>
        <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">IMAGES</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="">NEWS</a></li>
                <div class="search">
                    <input type="text" name="search" id="search" placeholder="Search">
                </div>
            </ul>
        </nav>
    </header>

    <p>{{ usr.Game_Name }}</p>
    <p>{{ usr.Production }}</p>

</body>
</html>