<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style5.css">
    <title>SIGN-UP</title>
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
</head>
<body>
   <div class="container">
        <form>
            <h1>SIGN UP</h1>
            <p>Create an account of your own!</p>
            <br />
            <label>Username</label>
            <input type="text" placeholder="Username" />
            <br />
            <label>Email</label>
            <input type="email" placeholder="Email" />
            <br />
            <label>Password</label>
            <input type="password" placeholder="Password" />
            <br />
            <label>Confirm-password</label>
            <input type="password" placeholder="Confirm-password" />
            <p>
                By creating an account on this website you agree to our
                <a href="#">Terms and Services</a>
            </p>

            <button class="registerbtn">Sign-up</button>
          </div>
            <div class="login">
            <p>Already have an account?<a href="signin.html">Login</a></p>
        </form>
    </div>
</body>
</html>